# --- Data Base
# postgresql://utilisateur:motdepasse@adresse_serveur:port/nom_bdd
db_url_env = 
db_user_env =
db_password_env =
db_addr_env =
db_port_env =
db_name_env =

# --- Security
secret_key_env =
algo_env =
access_token_expire_minutes_env =

# Gemini key
genai_api_key_env =