# --- Framework API & Server ---
fastapi
uvicorn
python-multipart

# --- Database (ORM & PostgreSQL Driver) ---
sqlalchemy
psycopg2-binary

# --- Authentication & Security (JWT / Password Hashing) ---
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2   # Pin version to avoid FastAPI/passlib incompatibility

# --- Environment Variables Management ---
python-dotenv

# --- Data Science & Machine Learning ---
pandas
joblib
scikit-learn
numpy

# --- Artificial Intelligence (Hugging Fce) ---
huggingface_hub

# --- Data Validation ---
pydantic
email-validator

# --- Testing (Unit & API Tests) ---
pytest
httpx

# --- Development & Data Science (Notebooks & Research) ---
matplotlib
seaborn
imbalanced-learn
